{% extends "anon.html" %}

{% block content %}
    <div class="row top-row">
        <div class="well span6 offset1 central-well">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    <div class="control-group">
                        <h2>{% block reg-title %}Zarejestruj się{% endblock %}</h2>
                    </div>
                    {% include "form.html" %}
                    <hr>
                    <input type="submit" class="btn btn-large btn-success" value="{% block but-title %}Zarejestruj się{% endblock %}">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
