{% extends "base.html" %}

{% block menu %}
    <li {% ifequal request.path "/" %}class="active"{% endifequal %}><a href="{% url 'index' %}">Strona główna</a></li>
    <li {% ifequal request.path "/login/" %}class="active"{% endifequal %}><a href="{% url 'login' %}">Zaloguj się</a></li>
    <li {% ifequal request.path "/register/" %}class="active"{% endifequal %}><a href="{% url 'register' %}">Zarejestruj się</a></li>
{% endblock %}

{% block content %}
    <h1>SuperüberPR0 Twitter!</h1>
    <p class="lead">Możesz dodawać twitty, zalogować się, dodawać twitty i dodawać twitty.</p>
    <a class="btn btn-large btn-success" href="{% url 'login' %}">Zaloguj się</a>
    <p>Jeśli nie masz konta to nawet możesz się <a href="{% url 'register' %}">zarejestrować.</a></p>
{% endblock %}
