{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    <title>{% block title %}Simple Twitter{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block styles %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" href="{% static "bootstrap/less/bootstrap.less" %}">
        {% endcompress %}
    {% endblock %}
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

            /* Custom container */
        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }
        .container-narrow > hr {
            margin: 30px 0;
        }

            /* Main marketing message and sign up button */
        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
        }
        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }
        .popover {
            max-width: 100%;
            display: block;
            position: relative;
            margin: 20px;
        }
        .popover-content {
            word-wrap: break-word;
        }
        #new-twitt div label {
            width: 100px;
        }
        #new-twitt div div {
            margin-left: 80px;
        }
    </style>
</head>

<body>
{% block body %}

<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            {% block menu %}
            {% endblock %}
        </ul>
        <h3 class="muted">Simple Twitter</h3>
    </div>

    <hr>

    <div class="jumbotron">
        {% block content %}
        {% endblock %}
    </div>
</div> <!-- /container -->
{% endblock %}
</body>
</html>