{% for error in form.non_field_errors %}
    <div class="alert alert-error">
        {{ error }}
    </div>
{% endfor %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<script>
    $(function(){
        if ($(":focus").length == 0) $(":input:visible:first").focus();
    })
</script>
