{% extends "base.html" %}

{% block menu %}
    <li {% ifequal request.path "/" %}class="active"{% endifequal %}><a href="{% url 'index' %}">Ostatnie twitty</a></li>
    <li {% ifequal request.path "/"|add:request.user.username|add:"/" %}class="active"{% endifequal %}><a href="{% url 'user_twitts' author=request.user %}">Moje twitty</a></li>
    <li {% ifequal request.path "/register/" %}class="active"{% endifequal %}><a href="{% url 'logout' %}">Wyloguj się</a></li>
{% endblock %}

{% block content %}
        <form id="new-twitt" method="post" enctype="multipart/form-data" action="" class="form-horizontal">
            {% csrf_token %}
            {% include "form.html" %}
        </form>
    {% if twitts %}
        {% include "twitt_list.html" %}
    {% endif %}
{% endblock %}
