{% extends "anon.html" %}

{% block content %}
    <div class="empty-space-filler">
        Twoje konto zostało utworzone w bazie danych. Możesz się teraz <a href="{% url 'login' %}">zalogować</a>.
    </div>
{% endblock %}
