<div class="well span8 central-well">
{% for twitt in twitts %}
    <div class="popover">
        <h3 class="popover-title"><a href="{% url 'user_twitts' author=twitt.author %}">{{ twitt.author }}</a> ({{ twitt.pub_date }})</h3>
        <div class="popover-content">
            <p>{{ twitt.text }}</p>
        </div>
    </div>
{% endfor %}
</div>